
/* Big Tablet to 1200px (widths smaller than pixel row */
@media only screen and (max-width: 1200px) {
    .greeting-box {
    width: 100%;
    padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
}

/* iPad in portrait mode: 768px to 1023px */ 
@media only screen and (max-width: 1023px) {
    body {
        font-size: 16px;
    }
    
    section {padding: 60px 0;}
    
    .about-box:first-child {margin-top: 10px;}
    .about-box:last-child {margin-top: 10px;}
    
    .contact-form {
        width: 80%;       
    }
    
}

/* Phones and tablets smaller than iPads */
@media only screen and (max-width: 770px) {
    body {font-size: 16px;}
    section {padding: 30px 0;}
    
    .row,
    .greeting-box {padding 0 4%;}

    .col {
        width:100%;
        margin: 0 0 4% 0;
    }
    
    .main-nav {display: none;}
    .mobile-nav-icon {
        display: inline-block;
    }
    
    .main-nav {
      float: left;
      margin-top: 35px;
      margin-left: 25px;
    }
    
    .main-nav li {
      display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
      display: block;
      border: 0;
      padding: 10px 0;
      font-size: 100%;
    }
    
    .sticky .main-nav {margin-top: 10px;}

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        color: #f4f4f4;
        padding: 10px 0;
    }

    .sticky .mobile-nav-icon  {margin-top: 20px;}
    .sticky .mobile-nav-icon i {color: #f4f4f4;}
    
    
    h1 {font-size: 180%;}
    h2 {font-size: 150%;}
    
    .section-services img{
        padding: 0;
    }
    
    .steps-box:first-child {
       text-align: center; 
    }
    
}

/*Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    font-size: 14px;
    section {padding: 25px 0;}
    .contact-form {width: 100%;}
}

